.header {
  /* position: absolute;
  top: 0; */
  background-color: rgb(38, 19, 49);
  width: 1090px;
  padding: 10px 0;
  display: flex;
  /* justify-content: center;
  align-items: center;
  gap: 20px; */
}
