.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  padding: 20px;
  background-color: #e6e6fa;
  margin-bottom: 20px;
  width: 280px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 12px;
}
.radioLabel {
  display: flex;
  align-items: center;
  gap: 12px;
}
.input {
  font-size: 16px;
  padding: 5px 10px;
}

.errorMessage {
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.addContactBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 130px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin: 0 auto;
}

.addContactBtn:hover {
  background-color: #6c8cff;
}
